5. 삼성 전자 주식 다음달 가격 얼마일까? (회귀)
8. 비트코인 다음 달 어떻게 될까? (회귀)
16. 전날 비트 코인 상승하면 다음날 주가와의 상관관계(correlation)

1. 목표 설정
  1. Y : 미래 30일의 국내 특정 주식과 비트코인의 종가
  1. X : 최근 60일간의 데이터
    1. step : 하루 간격
    1. 양 : 1 년(2018년 6월 ~2019년 6월)
1. 데이터 획득
  1. 국내 기업 1개, 비트 코인 
1. 데이터 정제
  1. 누락
1. 데이터 전처리  
  1. 특수기호, 문자 > 수치 변환
  1. 두 데이터 날짜 기준으로 통합(axis=1)
    1. 외국(2018-01-01), 국내(2018.1.1),(18.1.1)
    1. 날짜 포맷을 (YYYY-MM-DD) 으로 변환 후 통합
1. 비트코인 가격 변화와 주가와의 상관관계(correlation)
  1.cov()
1. 입력X /출력Y 분리
  1. m개의 x,y 쌍
  1. x(m, 60, 15) (국내증시컬럼 + 비트코인컬럼) > reshape > (m, 60*15)
  1. y(m, 30, 2) > (m, 30 * 2)  
1. 학습용/검증용(test) 분리
  1. 섞으면 안되므로 직접 분리
  1. 가장 과거의 데이터 10% 를 검증용으로 사용
1. 모델 선정
  1. Ridge 모델. 학습용 데이터로 학습
  1. 성능 측정
1. 그래프로 시각화
  1. 과거
  1. 미래의 예측 predict( x(1, 60*15) )  > return  >  y_hat(1, 30 * 2)
     1. 미래 예측(1, 30 * 2) > (30,2) > 국내(30), 비트코인(30) > 그래프로 그리기

국내 기업 데이터 획득 6/1/2018 ~ 6/1/2019

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
#주소중간에 _day 가 추가됩니다
samsung_url='https://finance.naver.com/item/sise_day.nhn?code=005930'

In [18]:
tables = pd.read_html(samsung_url+'&page='+str(1))
len(tables)
samsung = tables[0]
samsung.shape

(15, 7)

In [31]:
samsungs = []
for i in range(1, 28):
    tables = pd.read_html(samsung_url+'&page='+str(i))
    samsung = tables[0]
    samsungs.append(samsung)
len(samsungs)

27

In [32]:
samsung = pd.concat(samsungs, axis=0)
samsung.shape

(405, 7)

In [36]:
samsung.tail()

            날짜       종가     전일비       시가       고가       저가         거래량
10  2018.05.31  50700.0  1200.0  50400.0  50800.0  49850.0  63491109.0
11  2018.05.30  49500.0  1800.0  51300.0  51500.0  49100.0  20498098.0
12  2018.05.29  51300.0  1000.0  52200.0  52500.0  51300.0   8480437.0
13  2018.05.28  52300.0   400.0  52500.0  53000.0  52000.0   9787820.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [44]:
bitcoin_url = 'https://coinmarketcap.com/currencies/bitcoin/historical-data/'
bitcoin_url +='?start=20180601&end=20190601'
tables = pd.read_html(bitcoin_url)
bitcoin = tables[0]
len(tables)

2

In [45]:
bitcoin

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,"Jun 01, 2019",8573.84,8625.60,8481.58,8564.02,22488303544,151890214310
1,"May 31, 2019",8320.29,8586.66,8172.55,8574.50,25365190957,152059886414
2,"May 30, 2019",8661.76,9008.31,8221.27,8319.47,29246528551,147525141134
3,"May 29, 2019",8718.59,8755.85,8482.73,8659.49,23473479966,153537047655
4,"May 28, 2019",8802.76,8807.02,8634.72,8719.96,24226919267,154590202287
5,"May 27, 2019",8674.07,8907.17,8668.70,8805.78,27949839564,156093754762
6,"May 26, 2019",8055.21,8687.52,7924.67,8673.22,26677970091,153725486067
7,"May 25, 2019",7991.89,8117.93,7965.98,8052.54,22256813107,142708188838
8,"May 24, 2019",7881.70,8140.72,7824.45,7987.37,25919126991,141539115575
9,"May 23, 2019",7677.27,7943.79,7533.20,7881.85,24457107820,139654107035
10,"May 22, 2019",7956.29,7997.61,7615.99,7680.07,24719473175,136063898960
11,"May 21, 2019",7977.97,8062.17,7843.34,7963.33,25127245056,141065573610
12,"May 20, 2019",8196.92,8200.97,7678.78,7978.31,23843404340,141315695728
13,"May 19, 2019",7267.96,8261.94,7267.96,8197.69,25902422040,145185076705
14,"May 18, 2019",7341.66,7447.27,7251.50,7271.21,21354286562,128761727083
15,"May 17, 2019",7886.93,7929.15,7038.12,7343.90,30066644905,130034777633
16,"May 16, 2019",8194.50,8320.82,7729.61,7884.91,33167197581,139599559278
17,"May 15, 2019",7989.37,8216.42,7899.11,8205.17,28344112920,145254332460
18,"May 14, 2019",7807.88,8268.71,7696.39,7994.42,32031452227,141508656735
19,"May 13, 2019",6971.18,8047.41,6898.28,7814.92,28677672181,138316573807
20,"May 12, 2019",7203.51,7503.87,6815.77,6972.37,27773333680,123389710222
21,"May 11, 2019",6379.67,7333.00,6375.70,7204.77,28867562329,127488435181
22,"May 10, 2019",6175.82,6434.62,6161.52,6378.85,19419875368,112863284035
23,"May 09, 2019",5982.32,6183.04,5982.32,6174.53,16784645411,109238600750
24,"May 08, 2019",5849.48,5989.98,5794.72,5982.46,15320605300,105829143585
25,"May 07, 2019",5745.60,5988.18,5741.40,5829.50,18026409033,103112368557
26,"May 06, 2019",5791.69,5802.96,5653.69,5746.81,15737171804,101640471056
27,"May 05, 2019",5831.07,5833.86,5708.04,5795.71,14808830723,102494420158
28,"May 04, 2019",5769.20,5886.89,5645.47,5831.17,17567780766,103112021259
29,"May 03, 2019",5505.55,5865.88,5490.20,5768.29,18720780006,101986240859
...,...,...,...,...,...,...,...
336,"Jun 30, 2018",6214.22,6465.51,6214.22,6404.00,4543860224,109665618200
337,"Jun 29, 2018",5898.13,6261.66,5835.75,6218.30,3966230016,106474707240
338,"Jun 28, 2018",6153.16,6170.41,5873.05,5903.44,3467800064,101072353482
339,"Jun 27, 2018",6084.40,6180.00,6052.85,6157.13,3296219904,105403600614
340,"Jun 26, 2018",6253.55,6290.16,6093.67,6093.67,3279759872,104307939200
341,"Jun 25, 2018",6171.97,6327.37,6119.68,6249.18,5500810240,106958465208
342,"Jun 24, 2018",6164.28,6223.78,5826.41,6173.23,4566909952,105646571668
343,"Jun 23, 2018",6090.10,6224.82,6071.81,6162.48,3431360000,105449276520
344,"Jun 22, 2018",6737.88,6747.08,6006.60,6083.69,5079810048,104088814967
345,"Jun 21, 2018",6780.09,6810.94,6715.17,6729.74,3529129984,115129700024
346,"Jun 20, 2018",6770.76,6821.56,6611.88,6776.55,3888640000,115916357344
347,"Jun 19, 2018",6742.39,6822.50,6709.92,6769.94,4057029888,115789919278
348,"Jun 18, 2018",6510.07,6781.14,6446.68,6734.82,4039200000,115176197712
349,"Jun 17, 2018",6545.53,6589.11,6499.27,6499.27,3104019968,111134754810
350,"Jun 16, 2018",6455.45,6592.49,6402.29,6550.16,3194170112,111992015616
351,"Jun 15, 2018",6674.08,6681.08,6433.87,6456.58,3955389952,110378702283
352,"Jun 14, 2018",6342.75,6707.14,6334.46,6675.35,5138710016,114106009748
353,"Jun 13, 2018",6596.88,6631.66,6285.63,6349.90,5052349952,108530585830
354,"Jun 12, 2018",6905.82,6907.96,6542.08,6582.36,4654380032,112491874164
355,"Jun 11, 2018",6799.29,6910.18,6706.63,6906.92,4745269760,118025877189
356,"Jun 10, 2018",7499.55,7499.55,6709.07,6786.02,5804839936,115948312827
357,"Jun 09, 2018",7632.52,7683.58,7531.98,7531.98,3845220096,128682085689
358,"Jun 08, 2018",7685.14,7698.19,7558.40,7624.92,4227579904,130256218613
359,"Jun 07, 2018",7650.82,7741.27,7650.82,7678.24,4485799936,131153169176
360,"Jun 06, 2018",7625.97,7680.43,7502.01,7653.98,4692259840,130725095161
361,"Jun 05, 2018",7500.90,7643.23,7397.00,7633.76,4961739776,130365918088
362,"Jun 04, 2018",7722.53,7753.82,7474.04,7514.47,4993169920,128312205314
363,"Jun 03, 2018",7632.09,7754.89,7613.04,7720.25,4851760128,131808021256
364,"Jun 02, 2018",7536.72,7695.83,7497.26,7643.45,4939299840,130481526036
365,"Jun 01, 2018",7500.70,7604.73,7407.34,7541.45,4921460224,128725854692