KNN 으로 붓꽃 분류 하기
- UCI 데이터셋 다운로드
- pandas 로 읽기
- 입력(X:꽃잎과 꽃받침의 길이 너비)과 출력(Y:품종) 분리
- 150 개의 인스턴스(샘플), 학습용(75%), 테스트용(25%) 분리
- K(k:3~5개 정도) NN 모델을 선정
- 목표 : 테스트 샘플의 분류 정확도를 높이기

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('iris.data', header=None)#컬럼 명 안써져있다
df.shape

(150, 5)

In [7]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [9]:
df.info()#컬럼 타입, 숫자로 변환해야 될지를 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
0    150 non-null float64
1    150 non-null float64
2    150 non-null float64
3    150 non-null float64
4    150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

입력(X:꽃잎과 꽃받침의 길이 너비)과 출력(Y:품종) 분리

In [13]:
X = df.iloc[:, :4]
y = df.iloc[:, -1]
X.shape, y.shape #X는 2차원, Y는 1차원, 나중에 문제되면 이부분 확인할게요

((150, 4), (150,))

150 개의 인스턴스(샘플), 학습용(75%), 테스트용(25%) 분리

In [16]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
X_train.shape, X_test.shape

((112, 4), (38, 4))

In [19]:
from sklearn.neighbors import KNeighborsClassifier

In [34]:
knn = KNeighborsClassifier(5)
knn.fit(X_train, y_train) # 핏팅시키기

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [39]:
knn.predict(X_test[:3])#예측하기, (화면 부족으로 3개 샘플만)

array(['Iris-versicolor', 'Iris-setosa', 'Iris-virginica'], dtype=object)

In [36]:
knn.score(X_train, y_train), knn.score(X_test, y_test)

(0.9642857142857143, 1.0)

코스피 200 일거래 데이터, 종가 예측하기
- 샘플 : 하루의 총 일거래 정보

In [50]:
url='https://finance.daum.net/domestic/kospi200'
url='코스피200 _ 다음 금융.html'#웹페이지를 다른 이름으로 저장
tables = pd.read_html(url, index_col=0)
len(tables)

3

In [51]:
for table in tables:
    print(table.shape)

(10, 6)
(10, 8)
(10, 7)

In [52]:
df = tables[1]

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 19.07.02 to 19.06.19
Data columns (total 8 columns):
종가        10 non-null float64
전일비       10 non-null object
등락률       10 non-null object
거래량       10 non-null int64
거래대금      10 non-null int64
개인(억)     10 non-null int64
외국인(억)    10 non-null int64
기관(억)     10 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 720.0+ bytes

In [60]:
#전일비와 등락률을 수치데이터로 변환
df['전일비'] = df['전일비'].replace('▼','',regex=True)
df['전일비'] = df['전일비'].replace('▲','',regex=True)
df['등락률'] = df['등락률'].replace('%','',regex=True)

In [66]:
df['전일비'] = df['전일비'].astype(np.float)
df['등락률'] = df['등락률'].astype(np.float)

In [70]:
df.head(1)

              종가   전일비  등락률    거래량    거래대금  개인(억)  외국인(억)  기관(억)
일자
19.07.02  276.99  0.28 -0.1  22307  814704    336      62   -378

In [72]:
# 입력X 와 출력Y 분리
# x_0, x_1, x_2(아래첨자)...
y = df['종가']
X = df.iloc[:, 1:]
X.shape, y.shape

((10, 7), (10,))

In [96]:
offset = 2 #test 용 갯수
m_max = len(X)
X_train = X[offset:m_max]
X_test = X[0:offset]
y_train = y[offset:m_max]
y_test = y[0:offset]

In [93]:
from sklearn.neighbors import KNeighborsRegressor #Regressor 실수 예측용

In [94]:
knn = KNeighborsRegressor(n_neighbors=1) #클래스의 instance 생성 문법
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=1, p=2,
          weights='uniform')

In [95]:
knn.predict(X_test)

array([275.58, 277.75])